body{
	margin:0;
	padding:0;
	background-image: url("mountain.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

.header{
	margin: 0 auto;
	padding: 0;
	min-width: 960px;
	width: 100%;
	margin: 0;
	padding:0;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	top: 50px;

}

.header h1{
	position:relative;
	font-family:  Oswald, sans-serif;
	font-weight: 700;
	font-size: 140px;
	color:#073763;
	text-align: center;
	padding:0;
	margin: 0;
}

.header h2{
	position:relative;
	bottom:30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 50px;
	color:#3d85c6;
	text-align: center;
	padding: 0;
	margin: 0;
}

.betaform{
	position:relative;
	top: 80px;
	margin: 0 auto;
	text-align: center;
	width: 960px;
}

.betaform form{
	margin: 0 auto;
	padding: 1px 0;
	background-color: rgba(182, 210, 236, 0.3);
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 2px solid #FFFFFF;
	width: 320px;
}
.betaform form input{
	margin: 0 0 6px;
	width: 270px;
	height: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding: 0 4px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: #FFFFFF;
}

#ss-submit{
	width: 150px;
	margin: 8px 0 0;
	padding: 0;
	font-family: 'Open Sans', Serif;
	font-weight: 600;
	font-size: 16px;
	height: 32px;
	text-transform: uppercase;
	color: #073763;
	border: 1px solid #073763;
	background-color: rgba(255, 255, 255, 0.8);
}

#ss-submit:hover{
	background-color: rgba(255, 255, 255, 1);
	color: #3d85c6;
	border: 1px solid #3d85c6;
}

.navbar{
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
    width: 960px;
   	text-align: center;
	top: 120px;
	border: none;
   	background-color: rgba(255, 255, 255, 1);
   	z-index: 1;
}

.navbar li{
	display: inline-block;
	margin: 0 8px;
	width: 300px;
	padding: 10px 0;
   	background-color: rgba(255, 255, 255, 0);
   	border: none;
 }

.navbar li a{
	margin: 0;
	padding: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	color: #444444;
	text-transform: uppercase;
}

.navbar li a:hover{
	color: #3d85c6;
}

.social ul{
	position: relative;
	list-style-type: none;
	margin: 0 auto ;
	padding: 0;
  	text-align: center;
  	top: 250px;
}

.social ul li{
	display: inline-block;
	width: 90px;
	margin: 0 0 50px;
	padding: 0;
}
.social ul li a{
	font-size: 60px;
	color: rgba(255, 255, 255, .7);
}

.social ul li a:hover{
	color:#3d85c6;
}

.panel{
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 88px;
	background-color: rgba(255, 255, 255, .7);
    width: 100%;
}

.panel h1{
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 700;
	font-size: 48px;
	padding: 40px 60px 0;
	color: #333333;
	font-style: italic;
}

.panel p{
	font-family: 'Roboto Slab', Serif;
	color: #333333;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	padding: 0px 60px 40px;
}
.panel ul{
	padding: 0px 60px 40px;
}
.panel ul li{
	list-style-type: circle;
	font-family: 'Roboto Slab', Serif;
	color: #333333;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	margin: 0 40px;
	padding: 0px 0px 40px;
	text-decoration: none;
}

.panel a{
	font-family: 'Roboto Slab', Serif;
	color: #073763;
	font-weight: 400;
	font-size: 24px;
	text-decoration: none;
	margin: 0 60px;
	padding: 0;
}

.panel a:hover{
	color: #3d85c6;
	text-decoration: underline;;
}
.panel h3{
	margin: 0 40px;
	font-size: 64px;
}

.panel form{
	padding: 0px 60px 40px;
}
.panel form label{
	font-family: 'Roboto Slab', Serif;
	color: #333333;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
}
.panel form input{
	margin: 16px 0 32px;
	width: 400px;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding: 0 4px;
}

.monitor{
	position: relative;
	margin: 0 auto;
	padding: 20px;
    width: 600px;
   	text-align: center;
	top: 120px;
	background-color:#FFFFFF;
	border-radius: 10px;
	border: 2px solid #073763;
}